@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.navbar {
    background-color: rgba(57, 57, 57, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
}

.logo-container {
    position: absolute;
    left: 5vw;
}

.logo {
    color: rgb(237, 255, 77);
    font-size: 20px;
    font-family: 'Inter';
}

.logo:hover {
    cursor: pointer;
    opacity: 75%;
}

.hamburger {
    position: absolute;
    right: 25px;
}

.hamburger-dropdown {
    position: absolute;
    top:8vh;
    width:20%;
    right:30px;
    flex-direction: column;
    display: flex;
    align-items: end;
    z-index: 100;
}

.drop-text{
    color:white;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom:10px;
    transition: color 0.3s ease;
}

.drop-text:hover{
    opacity: 50%; /* Darken the text color on hover */
    cursor: pointer; 
}

@media only screen and (max-width: 624px) {
    .logo{
        color: rgb(47, 104, 201);
    }
}