@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.navbar {
    background-color: rgba(57, 57, 57, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
}

.logo-container {
    position: absolute;
    left: 5vw;
}

.logo {
    color: rgb(237, 255, 77);
    font-size: 20px;
    font-family: 'Inter';
}

.logo:hover {
    cursor: pointer;
    opacity: 75%;
}

.hamburger {
    position: absolute;
    right: 5vw;
}

.hamburger:focus {
    outline: none;
    box-shadow: 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.hamburger-text {
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: calc(1.25vw + 1.25vh);
    margin-left: calc(2vw);
    font-weight: bold;
}

.hamburger-text:hover {
    color: rgb(236, 255, 66);
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
}

.hamburger-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
    z-index: 10;
}

.hamburger-dropdown a {
    display: block;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    color: white;
}

.hamburger-dropdown a:hover {
    background-color: #444;
}
