html,
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body{
  height: calc(100vh - 8vh);
  width: 100vw;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.background {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.page-body{
  width:45%;
  height: 230px;
  margin-top: 4vh;
  margin-left: 100px;
}

@media only screen and (max-width: 1366px) {
  .page-body{
    width:90%;
    margin-left:5%;
    margin-right:0px;
  }
}

@media only screen and (max-height: 2000px) {

}