html,
body {
  margin: 0;
  padding: 0;
}

body{
  height: 87vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.background {
  height: 100%;
  width: 100%;

  padding: 10px;
  font-size: 20px;
  background-image: linear-gradient(rgb(31, 31, 31), rgb(58, 58, 58));
}