@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.navbar{
    width: 100%;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
  
.logo-link {
    display: inline-block;
    text-decoration: none;
}
  
.logo{
    color: rgb(128, 136, 54);
    font-weight: 1000;
    font-family: "Inter",sans-serif;
    font-size: calc(1.5vw);
}
  
.logo:hover {
    opacity: 50%;
    cursor: pointer;
}

.navbar-text-container{
    padding-left: .1vw;
    margin-right: 13vw;
}

.hometext{
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: calc(1vw);
}

.hometext:hover{
    color:rgb(255, 191, 0);
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    border-radius: 20px; 
}

.text{
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: calc(1vw);
    margin-left: calc(2vw);
    font-weight: bold;
}

.text:hover{
    color:rgb(209, 3, 99);
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
}

.navbar-background {
    background-image: linear-gradient(rgb(12, 12, 12), rgb(31, 31, 31));
}

.username-container{
    display: flex;
    justify-content: flex-end;
}

.username{
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: calc(1vw);
    width: calc(20vw);
    align-self: flex-end;
    text-align: right;
}

.username:hover{
    color:rgb(42, 98, 154);
    cursor: pointer;
}

.hamburger-text{
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-size: calc(1.25vw + 1.25vh);
    margin-left: calc(2vw);
    font-weight: bold;
}

.hamburger-text:hover{
    color:rgb(209, 3, 99);
    cursor: pointer;
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .text {
        display: none;
    }
    .logo-container{
        height: 20vh;
    }
    .logo{
        font-size: 30px;
    }
    .hometext {
        display: none;
    }
    .username {
        display: none;
    }
}